:root {
  --clr-strongyan: hsl(172, 67%, 45%);
  --clr-darckcyan: hsl(183, 100%, 15%);
  --clr-dark-grayishcyan-a: hsl(186, 14%, 43%);
  --clr-dark-grayishcyan-b: hsl(184, 14%, 56%);
  --clr-light-grayishcyan-a: hsl(185, 41%, 84%);
  --clr-light-grayishcyan-b: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
  --font-sm: 1rem;
  --font-normal: 1.5rem;
  --font-lg: 2rem;
  --font-family: "Space Mono", monospace;
}
